.modeButton {
    flex-grow: 1;
    padding: 10px;
    margin: 0px 5px; 
    background-color: #CBC3E3; 
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 1rem; 
  }